<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">

		<h1>Hey, I'm David Williams</h1>
		<p>I am a fulltime husband, father, Project Manager, Software Architect and fitness entusiasts. I enjoy staying update to date with current techonologies by reading and taking certification classes.</p>
<p>I have been fascinated by and working on and computers for as long as I can remember. I decided I wanted to be a software engineer after my father took me to the AirShow on Andrews Air Force Base when I was young and a pilot of theThunderbirds informed me he was a computer engineer. From then on I knew, from my passion for technology and my love for Thunderbirds.</p>
<p>When not taking care of my family or working, I enjoy lifting weights. I have a picture when I was around 5 of my face on Ronnie Coleman's body. My older cousin Matthew and I decided we were going to lift weights and be big and strong, which shows in most pictures of me when I was younger, I always had a muscle shirt or a sleeveless shirt to show my biceps(or lack there of). Now I am 166lbs, technically obese for my height, eventhough I am 15% bodyfat. I workout 5 days a week and enjoy motivating others to get in the gym or eat right to ensure they are healthy. One of my biggest motivators is my cousin Matthew(R.I.P.) and <a href="http://youtu.be/K65LdneNzF0?t=17">CT Fletcher(Warning NSFW)</a>.  </p>
<p>More importantly I am a husband and father of 3. My wife Dana, daughter Kalyn(5) and sons Jovan(9) and Elijah(3). I try to entertain them as much as possible, I am usually tired after work but I try to let them be kids and enjoy themselves. I won't speak on Dana too much because her blogwill explain everything about her, but to sum her up, imaginge a lawyer/ judge/accountant/CEO/Black Widow(Avengers)/Hilary from Fresh Prince and you know Dana. Jovan loves superheros(Spiderman specifically), playing sports, parkour and anything that can cause brain damage or broken bones. Kalyn is my princess, she loves dolls, painting nails, dancing, singing and watching cartoons. Last but not least, Elijah is the roughest, toughest creature this side of the Atlantic ocean. He runs, punches, slams, climbs, hits, breaks, falls, stands and screams. Anything a spartan does or Vin Diesal needs a stunt double for in Fast and the Furious,HE DOES!! </p>

	</div>

</div>